<%= @current_user.name %> <%= @current_user.email%>

<%= link_to '<button type="button">New Post</button>'.html_safe, new_post_path %>

<% @user.posts.each do |post| %>
   <%= post.content  %>
<% end %>
