<%= form_with(model: friendship, local: true) do |form| %>
  <% if friendship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friendship.errors.count, "error") %> prohibited this friendship from being saved:</h2>

      <ul>
      <% friendship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: current_user.id %> 

  <div class='field'>
     <%= f.select :friend_id, @users.collect { |friend| [user.name, user.id] } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
